* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* regole generiche */
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.ms_flex_column {
  display: flex;
  flex-direction: column;
}

.ms_flex_row {
  display: flex;
  flex-direction: row;
}

a {
  align-items: center;
  text-decoration: none;
  color: white;
}

a p {
  display: inline-block;
}

.ms_relative {
  position: relative;
}
/* fine regole generiche */

/* impostazioni posizionamento sezioni */
.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #172136;
  overflow: scroll;
}


.ms_box_contenuto {
  margin-left: 150px;
  margin-top: 75px;
  width: calc(100% - 150px) ;
  background-color: #0b162a;
  color: white;
  overflow-y: auto;
}

.ms_barra_fixed_top {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 75px;
  background-color: #00000069;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.ms_nav_verticale {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: calc(100% - 60px);
  background-color: black;
  min-height: 450px;
  color:white;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #2f3434;
  justify-content: space-between;
  align-items: center;
  color: white;
}
/* fine impostazioni posizionamento sezioni */

/* inmpostazioni navbar verticale */
/* impostazioni logo */
.ms_logo {
  padding: 20px 5px;
}
.ms_logo_mini {
  display: none;
  width: 90%;
  padding-top: 10px;
  padding-left: 10px;
}
/* fine impostazioni logo */

/* impostazioni allineamento liste + effetto hover */
.ms_nav_verticale li {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding-left: 10px;
}
.ms_nav_verticale li:hover {
  border-left: 2px solid #adff2f;
}
.ms_nav_verticale li:hover a img,
.ms_nav_verticale li:hover a p,
.ms_nav_verticale li:hover .ms_square {
  opacity: 1;
}

.ms_nav_verticale .ms_nav a img,
.ms_nav_verticale .ms_nav a p,
.ms_nav_verticale .ms_playlist a p,
.ms_nav_verticale .ms_user a p,
.ms_nav_verticale .ms_user a img {
  opacity: 0.60;
}
/* fine impostazioni allineamento liste + effetto hover */

/* impostazioni ms_nav */
.ms_nav {
  margin-bottom: 60px;
}

.ms_nav_verticale .ms_nav li img {
  width: 20%;
  margin-right: 10px;
}
/* fine impostazioni ms_nav */

/* impostazioni  ms_playlist */
.ms_playlist {
  height: 398.038px;
  overflow: auto;
}

.ms_nav_verticale h3 {
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 5px;
}

.ms_square {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-color: white;
  color: black;
  opacity: 0.60;
  font-size: 35px;
  font-weight: 800;
}
.ms_square span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
/* fine impostazioni ms_playlist */

/* impostazioni ms_user */
.ms_user {
  align-items: flex-end;
  min-height: 70px;
}
/* Impostazioni ms_user_top */
.ms_user .ms_user_top {
  border-bottom: 1px solid #494949;
}
.ms_user .ms_user_top a {
  padding-bottom: 8px;
  align-items: center;
  opacity: 0.60;
}

.ms_user .ms_user_top a i {
  display: inline-block;
  font-size: 8px;
  border: 0.5px solid white;
  border-radius: 50%;
  margin-left: 10px;
}

.ms_user .ms_user_top a p {
  font-size: 10px;
  padding-left: 5px;
}

.ms_user_top:hover a,
.ms_user_top:hover a p{
  opacity: 1;
  text-decoration: underline;
}
/* fine impostazioni ms_user_top */

/* impostazioni ms_user_bottom */
.ms_user .ms_user_bottom {
  padding-top: 10px;
  align-items: center;
}

.ms_user .ms_user_bottom .ms_profile_img {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #808080;
  margin-right: 10px;
}
.ms_user .ms_user_bottom img {
  width: 100%;
  max-height: 80%;
}
.ms_user .ms_user_bottom p {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
/* fine impostazioni ms_user */
/* fine impostazioni navbar verticale */

/* impostazione mediaplayer */
/* dimensioni box */

.ms_player_centro {
  height: 100%;
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
}
/* fine dimensioni box */

/* inizio impostazioni box_sx */
.ms_player_sx {
  justify-content: space-between;
  align-items: center;
}

.ms_sezione_uno_sinistra {
  align-items: center;
  margin: 0 10px;
}
.ms_player_sx img {
  width: 30px;
  margin-right: 8px;
}

.ms_testo_boxsx {
  display: inline-block;
}
.ms_testo_boxsx h5 {
  font-size: 9px;
  font-weight: bold;
}
.ms_testo_boxsx p {
  font-size: 7px;
  opacity: 0.60;
}
.ms_testo_boxsx p:hover {
  opacity: 1;
  text-decoration: underline;
}

.ms_player_sx i {
  font-size: 12px;
  opacity: 0.60;
  margin-right: 5px;
}
.ms_player_sx i:hover {
  opacity: 1;
}
/* fine impostazioni box_sx */

/* impostazione box_dx */
.ms_player_dx {
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.ms_player_dx .ms_icon_dx i {
  padding: 0 2px;
  font-size: 10px;
}

.ms_volume_row {
  position: relative;
  width: 100px;
  margin: 0 6px;
  border: 2px solid #585858;
  border-radius: 20px;
  background-color: #585858;
}

.ms_volumebar_loading {
  position: absolute;
  top: 40%;
  left: 31%;
  width: 27%;
  margin: 0 6px;
  border: 2px solid  #c1c1c1;
  border-radius: 20px;
  background-color:  #c1c1c1;
}
.ms_volumebar_circle{
  position: absolute;
  opacity: 0;
  bottom: -5px;
  left: 95%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: cornsilk;
}
.ms_volumebar_loading:hover {
  border-color: chartreuse;
  background-color: chartreuse;
}
.ms_volumebar_loading:hover
.ms_volumebar_circle{
  opacity: 1;
}
/* fine impostazioni sezione dx */

/* impostazioni sezione centrale */
.ms_media_icon i {
  font-size: 13px;
  padding: 0 5px;
}
.ms_media_icon .ms_bigger {
  font-size: 25px;
}
.ms_media_icon .ms_bigger:hover{
  font-size: 30px;
}

.ms_media_bottom {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.ms_media_bottom p {
font-size: 7px;
}
.ms_media_bottom p:first-child {
  padding-right: 10px;
}
.ms_media_bottom p:last-child {
  padding-left: 10px;
}

.ms_media_bar {
  width: 60%;
  margin: 0 6px;
  border: 2px solid #585858;
  border-radius: 20px;
  background-color: #585858;
}

.ms_mediabar_loading {
  position: absolute;
  top: 23%;
  left: 18%;
  width: 12%;
  margin: 0 6px;
  border: 2px solid  #c1c1c1;
  border-radius: 20px;
  background-color:  #c1c1c1;
}
.ms_mediabar_circle{
  position: absolute;
  opacity: 0;
  bottom: -5px;
  left: 95%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: cornsilk;
}
.ms_mediabar_loading:hover {
  border-color: chartreuse;
  background-color: chartreuse;
}
.ms_mediabar_loading:hover
.ms_mediabar_circle{
  opacity: 1;
}
/* fine impostazioni sezione centrale */
/* fine impostazione mediaplayer */

/* impostazioni contenuto */
.ms_box_contenuto .ms_selction_top {
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

/*sezione top*/
.ms_selction_top .testo a{
  margin: 5px 5px;
  font-size: 12px;
  opacity: 0.6;
}
.ms_greenbar {
  position: absolute;
  top: 98%;
  left: 29%;
  width: 46%;
  border: 2px solid chartreuse;
  border-radius: 20px;
  background-color: chartreuse;
  opacity: 0;
}

.testo:hover a{
  opacity: 1;
}
.testo:hover .ms_greenbar {
  opacity: 1;
}
/* fine sezione top */

/* sezione main contenuto */
.main_contenuto {
  margin-left: 20px;
}

.row {
  margin-bottom: 60px;
}
.main_contenuto h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.ms_media {
  width: 140px;
  margin-right: 30px;
}

.ms_media_testo {
  text-align: center;
}

.ms_immagine {
  position: relative;
  margin-bottom: 10px;
}
.ms_media img {
  width: 100%;
}
.ms_img_cover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a3;
  opacity: 0;
}
.ms_img_cover i {
  font-size: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.ms_media:hover .ms_img_cover {
  opacity: 1;
}

.ms_media h5 {
  margin-bottom: 8px;
}
.ms_media p {
  opacity: 0.60;
  margin-bottom: 10px;
  font-size: 10px;
}

.ms_img_circle {
  border-radius: 50%;
}
/* fine sezione main contenuto */
/* fine impostazioni contenuto */


/* impostazioni barra fixed_top */
.ms_barra_fixed_top a {
  margin-right: 45px;
  padding: 10px 35px;
}
.ms_barra_fixed_top a:hover {
  padding: 15px 40px;
}

.ms_box_contenuto .ms_barra_fixed_top .ms_btn {
  border: 1px solid white;
  border-radius: 20px;
}

/* fine impostazioni barra fixed top */


/* impostazioni resposivity */
@media screen and (max-width : 550px) {
  /* responsive barra laterale */
  .ms_nav_verticale {
    width: 40px;
  }

  .ms_logo_mini {
    display: block;
    margin-bottom: 10px;
  }

  .ms_nav_verticale .ms_nav {
    margin-bottom: 430px;
  }

  .ms_nav_verticale .ms_nav p {
    display: none;
  }

  .ms_nav_verticale .ms_nav li img {
    width: 90%;
    margin: 0;
  }

  .ms_playlist,
  .ms_logo,
  .ms_nav_verticale h3 {
    display: none;
  }

  .ms_user p {
    display: none;
  }
  .ms_user .ms_user_bottom p {
    display: none;
  }

  .ms_user a {
    justify-content: center;
  }

  .ms_user .ms_user_top a i {
    display: block;
    margin: 0;
    font-size: 12px;
  }

  .ms_user .ms_user_bottom {
    justify-content: center;
  }

  .ms_user .ms_user_bottom .ms_profile_img {
    display: block;
    margin: 0;
  }
  /* fine responsive barra laterale */
  .ms_barra_fixed_top {
    margin-left: 40px;
    width: calc(100% - 40px);
  }
  .ms_box_contenuto {
    margin-left: 40px;
    width: calc(100% - 40px);
  }
}
  @media screen and (max-width : 850px){
  .contents {
    flex-wrap: wrap;
  }

  .ms_player_sx .ms_testo_boxsx {
    margin-right: 20px;
  }
  .ms_player_sx i {
    display: block;
  }
}
/* fine informazioni responsivity */